body {
    margin: 0;
    font-family: sans-serif;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

.label {
    display: inline-block;
    width: 100px;
    font-weight: 700;
}

.value {
    color: #0091ff;
}

.status, .online {
    margin: 10px 0;
    padding: 2px 5px;
    background: #000;
    display: inline-block;
    color: #fff;
}

.status.normal, .online.active {
    background: #169aff;
}
.status.error, {
    background: #ff1616;
}

.fix {
    display: inline-block;
    padding: 2px 5px;
    margin-left: 30px;
    border: 2px solid #000;
    cursor: pointer;
}